<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<title>Home Page</title>
</head>
<body>
	<div class="container">
		<div class="card">
			<p style="color: whitesmoke; white-space: pre-wrap;">Name: <%= current_user.name %></p>
			<p style="color: whitesmoke; white-space: pre-wrap;">Email: <%= current_user.email %></p>
			<p style="color: whitesmoke; white-space: pre-wrap;">Date Joined: <%= current_user.date_added %></p>
		</div>
	</div>
</body>
</html>