<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<title></title>
</head>
<body>
	<div class="container">
		<div class="card">
			<legend style="font-size: 20px; color: aliceblue;">Login</legend>
			<hr>
			<form method="POST" action="/login">
				<input type="" name="username" class="login_input" placeholder="Enter Username" required>
				<br>
				<input type="" name="password" class="login_input" placeholder="Enter Password" required>
				<br>
				<button type="submit" class="login_button">Login</button>
			</form>
		</div>
	</div>
</body>
</html>